<a href="https://colab.research.google.com/github/PersGraphics/ProyectoPia/blob/main/Resumen_de_Phyton_Curso_Educative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **RESUMEN CURSO PHYTHON 3 DESDE 0**

Phython es un lenguaje de alto nivel. Se va interpretando el codigo linea a linea durante su ejecución.

Tiene una sintaxís facil, por lo que es ideal para aprender dicho lenguaje. Además de tener muchas utilidades desde el Big Data hasta aplicaciones web.

A continuación, haremos unas pequeñas pruebas de código:

In [ ]:

print(20, "to", 10);
print(20, "and ", end="hi");
print(" Pol ") # Comentario de prueba
""" Otro manera de poner comentarios """

20 to 10
20 and hi Pol

' Otro manera de poner comentarios '

## **Tipo de datos y variables**

Saber que tipo de dato es, define como se tratará y que valores puede contener

A cualquier variable se le puede dar un valor, es importante saber que son mutables, es decir, se puede actualizar o reemplazar el valor de la variable

Nomenclatura de las variables

*   Se puede poner mayusculas o minusculas
*   Se puede poner números (nunca primer caracter)
*   Se puede poner _ (utilizar como espacio)
*   Utilizar nombres con información útil

## **Números**

Tres tipos de numeros:

*   Enteros: Números enteros positivos y negativos

*   Punto flotante: (floats) Números decimales positivos o negativos

*   Complejos: Formados por partel real y otra imaginaria. Se utiliza complex(). 1º valor, parte real;y 2º valor, parte imaginaria

A continuacion algunos ejemplos:

In [ ]:
num= -1000 
print(num) # Ejemplo de número entero

float_num= 2.113213
print(float_num) # Ejemplo de numero de punto flotante

num_complex = complex(0, 2)
num_complex2 = complex (2, 0)
print(num_complex)  # Ejemplo de numero complejo (se utiliza j, en otros lenguajes es i)
print(num_complex2)

-1000
2.113213
2j
(2+0j)

## **Booleanos**

Tipo de dato que nos permite solo dos valores: verdadero y falso (True / False). Este dato se utiliza para la logica de una expresion de nuestro código

In [ ]:
ejemplo_boolean= True
print(ejemplo_boolean) # Ejemplo valor Boleano

True

## **Strings**

(Cadena) Tipo de dato que nos permite poner una cadena de caracteres (todo entre comillas).

Un espacio en blanco se considera un caracter y si utilizamos comillas triples, se escribe en varias lineas.

Con la función len() se puede averiguar la longitud de tu variable string.

En una cadena string, cada caracter tiene un indice, siendo el primer caracter de indice 0, y asi sucesivamente (como los arrays)
Para acceder a un caracter del string se pone la variable  y  [index]

La indexación inversa, es lo mismo, nada más que empieza en el final del string y se utilizan indices negativos, ejemplo  [-3]

No puedes cambiar el valor de una cadena cambiando un caracter, se puede cambiar el valor del string y por tanto tambien cambiará su id.

In [ ]:
string="Star wars"
print(string); # Ejemplo de string

multiples_strings= '''Hola 
y adios'''
print(multiples_strings) # Ejemplo de saltos de line de triple comilla

string="Star Wars II" # 12 caracteres (contar espacion en blanco)
print(len(string)); # Ejemplo de contador de caracteres

Star wars
Hola
y adios
12

''

## **Palabra "none" Nonetype**

Es un tipo de dato que solo puede tener un valor: None
* No es false
* No es cadena vacía
* No es 0

In [ ]:
dato= None
print(type(dato), dato) # Tipo none

<class 'NoneType'> None

## **Dividir string (subcadena)**

Distribuir las cadenas usando sus indices (subcadena)
* Start: El índice donde comienza la subcadena
* End: El índice donde termina nuestra subcadena

In [ ]:
cadena= "Hola Mundo"
print(cadena[5:11]) # Empieza en indice 5 termina en indice 11

Mundo

Podemos crear una subcadena pudiendo omitir carecteres entre medias.
Paso predeterminado es índice 1
cadena[start:end:step] Step: Paso/Salto

Tambien se puede hacer de manera reversa
[5 : 13 : -3]

In [ ]:
cadena= "Hola Mundo y adios"
print(cadena[5:11:2]) # Empieza en indice 5 termina en indice 11, y da un salta cada 1 caracter

print(cadena[15:2:-1]) # Reversible, el star y end se intercambian

Mno
ida y odnuM a
Hola Mundo y adios

Tanto [end] como [start] son opcionales, es decir, lo puedes dejar vacio y será desde el principio de la cadena o hasta el final de la cadena

In [ ]:
cadena= "Hola Mundo y adios"
print(cadena[5:]) # Empieza en indice 5 termina hasta el FINAL

print(cadena[:5]) # Empieza en el PRIMER caracter y termina en el indice 5

Mundo y adios
Hola

## **Formateo de string**

* Insertar strings dentro de otro string (%s)
* Insertar enteros dentro de un string (%i)
* Insertar floats dentro de un string (%f)

Operador comun %

In [ ]:
cadena_repetir="Hola %s" % "mundo %s" % cadena # %s String
print(cadena_repetir)

cadena_numeros="Son %i con %i" % (2,1)  # $i Entero
print(cadena_numeros)

cadena_floats="Son %f y %.2f" % (2.11, 1.118) # $f Float (añade decimales o redondea)
print(cadena_floats)

Hola mundo Hola mundo
Son 2 con 1
Son 2.110000 y 1.12

## **Operadores**

Los operados sirven para hacer operaciones aritmeticas o logicas con los datos.

Los 5 principales tipos de operadores son:
* Operadores aritmeticos
* Operadores de comparación
* Operadores de asignación
* Operadores lógicos
* Operadores bit a bit

**OPERADORES ARITMÉTICOS**

Ordenados por preferencia:
* () Encapsula la operación
* ** Exponente
* %,*, /, // Módulo, multiplicación, división, divisón floor
* +.- Suma, resta

Si hay varios operadores, se harán por orden de **preferencia**

In [ ]:
print(5+3) # suma

print(4.11-7.11) # resta

print(2*4) # multiplicación

print(10/2) # division

print(51//10) # division floor (redondea y elimina el sobrante)

print(11%2) # modulo (te muestra el sobrante de la division)

8
-3.0
8
5.0
5
1

**OPERADORES DE COMPRACIÓN**

Se utiliza para comparar valores matemáticos

* .> Mas que
* < Menos que
* .>= mayor/igual que
* <= menor/igual que
* == igual a
* != no es igual a
* is - igual (identidad)
* is not - no es igual (identidad)

El resultado de una comparación es siempre un booleano
Los comparadores de identidad comprueban que son el mismo objeto

In [ ]:
numero = 10 # Ejemplos de algunos operadores de compareciones
numero2= 5

print(numero > numero2)

print(numero == numero2)

print(numero is not numero2) # Ambos tienen el mismo objeto

True
False
True

**OPERADORES DE ASIGNACIÓN**

Operados para asignar valores a una variable

* = Asignar
* += Agregar y asignar
* -= Restar y asignar
* *= Multiplica y asignar
* /= Dividir y asignar
* //= Dividir floor y asignar
* **= Exporencial y asignar
* %= Hacer módulo y asignar
* |= O y asignar
* &= Y y asignar
* ^= xor y asignar
* >>= Desplazamiento la derecha y asignacion (bits)
* <<= Desplazamineto la izquierda y asignacion (bits)